/*
Copyright 2015 Hermann Krumrey <hermann@krumreyh.com>

This file is part of toktokkie.

toktokkie is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

toktokkie is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background: #EEEEEE;
    line-height:1.6;
    font-size:18px;
    color:#444444;
}

h1, h2, h3 {
    line-height:1.2
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.alternating_table{
    width:100%;
    border-collapse:collapse;
}
.alternating_table td{
    padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.alternating_table tr{
    background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.alternating_table tr:nth-child(odd){
    background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.alternating_table tr:nth-child(even){
    background: #dae5f4;
}

.season_image {
    height: 150px;
}

.listing_icon {
    height: 70px;
}

.external_link_image {
    height: 50px;
}
