{#
Copyright 2015 Hermann Krumrey <hermann@krumreyh.com>

This file is part of toktokkie.

toktokkie is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

toktokkie is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base_layout.html" %}
{% block body %}
    <h1>Configuration</h1>
    <table>
        <tbody>
            {% for path in paths %}
            <tr>
                <td>{{ path }}</td>
                <td>
                    <form action="/delete_content_dir" method="post">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input name="target" value="{{ path }}" hidden>
                        <input type="submit" value="X" id="{{ path }}">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/add_content_dir" method="post">
        <label for="add_submit">New Content directory</label>
        <input type="text" name="target" value="" id="add_submit">
        <input type="submit" value="Submit">
    </form>
{% endblock %}
