<table>
    <tbody>
        {% for path in paths %}
        <tr>
            <td>{{ path }}</td>
            <td>
                <form action="delete_content_dir" method="post">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input name="target" value="{{ path }}" hidden>
                    <input type="submit" value="X" id="{{ path }}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/add_content_dir" method="post">
    <label for="add_submit">New Content directory</label>
    <input type="text" name="target" value="" id="add_submit">
    <input type="submit" value="Submit">
</form>
