{#
Copyright 2015 Hermann Krumrey <hermann@krumreyh.com>

This file is part of toktokkie.

toktokkie is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

toktokkie is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base_layout.html" %}
{% block body %}

    <h1>toktokkie</h1>
    <img src="{{ url_for("static", filename="images/logo.png") }}" alt="toktokkie">

    <h2><a href="{{ url_for("listings", category_method="media_type") }}">Listings (by media type)</a></h2>
    <h2><a href="{{ url_for("listings", category_method="tags") }}">Listings (by tags)</a></h2>
    <h2><a href="{{ url_for("listings", category_method="parent") }}">Listings (by parent directory)</a></h2>
    <h2><a href="{{ url_for("configure") }}">Configuration</a></h2>

{% endblock %}
