{% set title = "toktokkie" %}
{% set icon = "static/logo.png" %}

{% extends "base_layout.html" %}
{% block body %}

    <a href="/content_dirs">Configure</a>

    {% for category, directories in directory_data %}
    <h1>{{ category }}</h1>
    <table>
        {% for directory in directories %}
        {% set cover = directory.metadata.get_icon_file("main") %}
        <tr>
            <td>
                {% if cover is not none %}
                    <img style="max-height: 50px" width="50px" src="{{ url_for('image', image_format='png') + '?path=' + cover }}">
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('directory') + '?path=' + directory.path }}">{{ directory.metadata.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}


{% endblock %}
